*
{
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: border-box;
}
html
{
    font-size: 10px;
}
#grid
{
    display: grid;
    grid-template-columns: 480px 480px; 
    /* 增加闹钟时，判断是否新加行 */
    grid-template-rows: repeat(2, 230px); 
    justify-content: center;
    padding-top: 60px;
    row-gap: 20px;
    column-gap: 20px;
}

/* 增加时钟时，给下一个位置 */
#pos1
{
    grid-area: 1/1/2/2;
}

#pos2
{
    grid-area: 1/2/2/3;
}

#pos3
{
    grid-area: 2/1/3/2;
}

.alarmModule:hover
{
    background-color: #f9f9f9;
}

.alarmModule
{
    background-color: transparent;
    border-radius: 10%;
    box-shadow: 0 0 6px -2px gray;
    display: flex;
    flex-direction: row;
    padding-left: 10px;
}

.alarmModule .alarminfo
{
    padding-top: 20px;
    padding-left: 10px;
    width: 80%;
    display: flex;
    flex-direction: column;
    color: #c2c2c2;
}

.alarmModule .time
{
    font-size: 6em;
    font-weight: bold;
}

.alarmModule .name
{
    font-size: 2.5em;
    font-weight: normal;
}

.alarmModule .deleteIcon
{
    display: none;
}

.del .alarmModule .deleteIcon:hover
{
    margin-top: 27px;
}

.del .alarmModule .deleteIcon
{
    width: 50px;
    height: 50px;
    margin-top: 30px;
    margin-left: 20px;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease-in-out;
}

.switch:hover
{
    margin-top: 37px;
}

.switch 
{
    position: relative;
    width: 60px;
    height: 34px;
    margin-top: 40px;
    transition: margin-top 0.3s ease-in-out;
}

.del .alarmModule .switch
{
    display: none
}

.switch input 
{
    opacity: 0;
    width: 0;
    height: 0;
}

.slider 
{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border: solid 1px gray;
    background-color: white;
    transition: .2s;
    border-radius: 34px;
}

.slider:before 
{
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: #ccc;
    transition: .2s;
    border-radius: 50%;
}

.checked .slider 
{
    background-color: rgb(81, 83, 204);
}

.checked .slider:before 
{
    transform: translateX(26px);
    background-color: rgb(255, 255, 255);
}

.checked .alarminfo 
{
    color: black; 
}

#modal
{
    visibility: hidden;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #ffffffc4;
}

#modal #modalwindow
{
    width: 300px;
    height: 300px;
    background-color: #efefef;
    border-radius: 10px;
    box-shadow: 0 0 5px 0 gray;
}

#modal #modalwindow #head
{
    width: 100%;
    height: 25%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 3em;
    padding: 20px 30px 0 30px;
}

#modal #modalwindow #head #text
{
    display: flex;
    flex-direction: row;
    align-items: center;
}

#modal #modalwindow #head #delete
{
    height: 45px;
    width: 45px;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#modal #modalwindow #head #delete:hover
{
    background-color: #c2c2c2;
}

#modal #modalwindow #body
{
    width: 100%;
    height: 50%;
    padding: 10px 20px 20px 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    font-size: 1.5rem;
}

#modal #modalwindow #body #clock
{
    height: 60%;
    aspect-ratio: 1 / 1;
    border-style: solid;
    border-width: 1px;
    border-color: black;
}

#modal #modalwindow #body #timeInput
{
    margin-top: 5px;
    padding-bottom: 5px;
    height: 50%;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: 2.5rem;
    font-weight: bold;
}

#modal #modalwindow #body #timeInput > input[type = "number"]
{
    width: 20%;
    height: 80%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: 1em;
    text-align: center;
    box-shadow: 0 0 2px 0 gray;
    border-radius: 5px;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  width: 20px;
  height: 38px;
  font-size: 12px;
  cursor: pointer;
}

#modal #modalwindow #body #nameInput
{
    height: 50%;
    width: 100%;
    padding-top: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#modal #modalwindow #body #nameInput #text
{
    width: 20%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#modal #modalwindow #body #nameInput > input
{
    width: 80%;
    height: 80%;
    padding: 8px;
    border-radius: 5px;
    box-shadow: 0 0 2px 0 gray;
}

#modal #modalwindow #foot
{
    width: 100%; 
    height: 25%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-style: solid;
    border-width: 1px 0 0 0;
    border-color: #c2c2c2;
    padding: 15px 30px;
}

#modal #modalwindow #foot > button
{
    width: 45%;
    height: 100%;
    background-color: transparent;
    border-radius: 5px;
    box-shadow: 0 0 3px 0 gray;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

#modal #modalwindow #foot > button:hover
{
    background-color: #c2c2c2;
}

#modal #modalwindow #foot #save:hover
{
    background-color: rgb(81, 83, 204);
    color: white;
}

.show + #modal
{
    visibility: visible;
}

#editButton
{
    position: fixed;
    bottom: 5%;
    right: 10%;
    width: 130px;
    height: 70px;
    display: flex;
    flex-direction: row;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 0 6px -2px gray;
}

#editButton .operation
{
    width: 50%;
    height: 100%;
    border-radius: 5px;
    background-color: transparent;
    transition: all 0.3s ease-in-out;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#editButton .operation:hover
{
    background-color: #c2c2c2;
}

.displace#editButton .operation #del
{
    display: none;
}

#editButton .operation #ok
{
    display: none;
}

.displace#editButton .operation #ok
{
    display: block;
}