*
{
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 10px;
}

body
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#clock {
    display: block;
    margin: 0 auto;
    width: 400px;
    height: 400px;
    transform: translateY(90px);
}
#hour-hand,
#minute-hand,
#second-hand {
    cursor: grab;
}
#hour-hand:active,
#minute-hand:active,
#second-hand:active {
    cursor: grabbing;
}
.number {
    font-family: Arial, sans-serif;
    font-size: 24px;
    text-anchor: middle;
}
#clockDisplay {
    text-align: center;
    font-size: 120px;
    font-weight: 700;
    font-family: Arial, sans-serif;
    margin-top: 120px;
}

#toggleButton:hover
{
    top: -3px;
}

#toggleButton
{
    position: relative;
    top: 0;
    background-color: transparent;
    margin-bottom: -10px;
    transition: all 0.3s ease-in-out;
}
#toggleButton #expand
{
    /* transition-property: display;
    transition-delay: 1s; */
    display: none;
}

#toggleButton.toggled #expand
{
    display: block;
}

#toggleButton #collapse
{   
    /* transition-property: display;
    transition-delay: 1s; */
    display: block;
}

#toggleButton.toggled #collapse
{
    display: none;
}

.collapsed
{
    height: 0 !important;
}



#setTime {
    height: 85px;
    width: 420px;
    display: flex;
    flex-direction: column;
    /* margin: 60px auto; */
    align-items: center;
    transition: height 0.8s ease-in-out;
    overflow: hidden;
}

#setTime #inputs 
{
    height: 60%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#setTime #buttons 
{
    height: 40%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-content: space-around;
    align-items: center;
    padding-left: 5%;
    padding-right: 5%;
}

#setTime #inputs > input[type="number"] {
    height: 100%;
    width: 15%;
    text-align: center;
    font-size: 2em;
}

#setTime #buttons > button 
{
    margin: 5px;
    width: 30%;
    height: 100%;
    font-size: 1.5em;
}

#setTime label[for="hour-input"],
#setTime label[for="minute-input"],
#setTime label[for="second-input"] 
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-bottom: 2px;
    height: 100%;
    font-size: 2em;
}